.container{
  width: 900px;
  margin: auto;
  /* padding: 200px; */
}

.container p{
  color: grey;
  font-size: larger;
  text-shadow: 2px 2px 3px rgb(0,0,0);
}

.container h2{
  text-align: center;
}
