.footer{
  background-color: #192538;
  text-align: center;
  padding: 100px;
}

.footer-icons a{
  font-size: 30px;
  color: #1EDD88;
  padding: 10px;
}

.footer-icons a:hover{
  color: #15a262;
}

.footer-icons p{
  font-size: 18px;
  color: gray;
}
